[submodule "Siho/vendor/spdlog"]
	path = Siho/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Siho/vendor/GLFW"]
	path = Siho/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Siho/vendor/imgui"]
	path = Siho/vendor/imgui
	url = https://github.com/ZOHETH/imgui
	branch = docking
[submodule "Siho/vendor/glm"]
	path = Siho/vendor/glm
	url = https://github.com/g-truc/glm
